.login-container{
    border-top-left-radius: 200px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--theme);
    position: relative;
    background-image: url('./background.jpg'); /* Đường dẫn đến hình ảnh nền */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0; /* Đặt z-index thấp để .h-rightside nằm phía sau */
    height: 100vh;
}
.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 200px;
    background-color: rgba(219, 219, 219, 0.65); /* Màu nền trong suốt với độ trong suốt 50% */
    z-index: -1; /* Đặt z-index thấp hơn để lớp overlay nằm phía sau */
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}